* {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }

body {
    margin: 0px 250px;
  }

.header,
.footer {
    
    padding: 27px 30px;
    background-color: rgb(61, 118, 165);
}

.header{
    margin-top: 10px;
}
  
#title,
.nav {
    display: inline;
    color: white;
    padding-left: 10px;
}

#title {
    font-size: 27px;
}

.nav {
    text-decoration: none;
    font-size: 21px;
    padding: 0 20px;
}

.fitness,
.follow {
    color: rgb(61, 118, 165);
    font-size: 37px;
    padding: 40px;

}

.paragraph {
    margin: 0 40px;
    padding: 0 0 15px 0;
    font-size: 21px;
}

strong {
    color: rgb(61, 118, 165);
}

.membership {
    display: inline-block;
    margin-top: 20px;
    margin-left: 40px;
    padding: 17px 35px;
    border: solid 3px rgb(228, 141, 0);
    border-radius: 15px;
}

.membership_link {
    text-align: center;
    text-decoration: none;
    font-size: large;
    color: rgb(228, 141, 0);
}

.follow {
    padding-bottom: 0;
}

.social {
    display: inline-block;
    margin-right: 20px;
    margin-top: 17px;
    margin-bottom: 20px;
    padding: 20px 55px;
    border: solid 1px black;
    border-radius: 20px;
    box-shadow: 2px 3px 7px 3px rgba(206, 205, 205, 0.693);
}

.social a {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 23px;
    text-decoration: none;
}

.instagram {

    margin-left: 40px;
    background-color: blueviolet;
}

.facebook {
    background-color: royalblue;
}

.youtube {
    background-color: red;
}

.features {
    color: white;
    font-weight: lighter;
    margin-bottom: 20px;
    padding-left: 40px;
}

ul {
    font-size: 20px;
    list-style: none;
}

.footer{
    margin-bottom: 10px;
}

.footer a {
    text-decoration: none;
    color: white;
}

.testimonials {
    display: inline-grid;
    margin: 30px;
    width: 245px;
    border-radius: 100px;
    box-shadow: 4px 4px 5px rgb(211, 210, 210);
    height: 400px;
}
  
.testimonials img {
    border-radius: 80px;
    margin-left: 18px;
    width: 208px;
}
  
.testimonials p {
    padding-left: 15px;
    font-size: 20px;
}
  
.testimonials h3 {
    font-size: large;
    text-align: center;
    padding: 60px 0 0 0;
}
