* {
    margin: 0;
    padding: 0;
    box-align: border box;
    font-family: sans-serif;
  }

  .header .gym,
  .header nav,
  .header ul,
  .header ul li {
    display: inline;
  }

  .header{
    padding: 20px;
    background-color: rgb(23, 143, 255);
    margin-bottom: 10px;
  }

  .header .gym{
    color: white;
    size: 20px;
    padding: 40px;
    padding-left: 10px;
  }

.header ul a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.body {
  padding: 40px;
}

.section-title {
  margin-bottom: 15px;
  color: rgb(23, 143, 255);
}

.main-section p {
  margin-bottom: 15px;
}

.get-membership {
    color: #cd6402;
    border: solid 2px #cd6402;
    padding: 10px 20px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
  }

strong {
  color: rgb(4, 110, 216);
}

.top-section,
.follow-us {
  padding: 10px;
  margin-left: -10px;
  margin-top: 15px;
}

.section-title {
  margin-bottom: 20px;
}

.insta, .face, .yt {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 9px 30px;
  border-radius: 10px;
  margin-top: 10px;
}

.insta {
  border: solid 2px rgb(161, 42, 246);
  background-color: rgb(161, 42, 246);
  margin-right: 10px;
}
.face {
  border: solid 2px rgb(82, 82, 230);
  background-color: rgb(82, 82, 230);
  margin-right: 10px;
}
.yt {
  border: solid 2px rgb(243, 65, 65);
  background-color: rgb(243, 65, 65);
  margin-right: 10px;
}

.footer-section {
  background-color: rgb(23, 143, 255);
}
.footer-section {
  padding: 20px;
  background-color: rgb(23, 143, 255);
  color: white;
}

.list-item{
  list-style-type: none;
  font-weight: bold;
}

ul{
  list-style-type: none;
  margin-left: 20px;
}

.fclasses, .ptrainers, .gmembership {
  font-weight: bold;
}

.footer-section h4 {
  
  margin-left: 20px;
}

.footer-section p {
  font-weight: bold;
  margin-top: 10px;
}