* {
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}
/* ----------------Global Values------------------- */
:root {
  --bg-color: rgb(65, 135, 159);
  --white-color: #fff;
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* ---------------Standard Button--------------------- */
button {
  background: transparent;
  border: transparent;
  font-size: 20px;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 10px;
  cursor: pointer;
}
html {
  background: var(--bg-color);
  font-family: var(--font-family);
}
a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 500;
}
/* --------------Header---------------- */
.heading {
  display: flex;
  flex-direction: row;
  color: var(--white-color);
  font-weight: 800;
  font-size: 20px;
  margin: 1rem 2rem;
}
.heading ul {
  display: flex;
  flex-direction: row;
  padding-left: 10rem;
  justify-content: center;
  align-items: center;
}

.heading ul li {
  list-style-type: none;
  padding-left: 2rem;
  text-transform: capitalize;
}

/* ---------second-section---------------- */

.section-text {
  background: var(--white-color);
  padding: 1rem;
}
.common-heading {
  color: var(--bg-color);
  font-size: 30px;
  text-transform: capitalize;
  margin: 2rem 0rem;
}
.top-text p {
  color: #222;
  font-weight: bold;
  margin-bottom: 2rem;
}
.percentage {
  color: var(--bg-color);
}
.bottom-text a {
  margin-right: 1rem;
}
.top-text button {
  border: 2px solid orange;
  color: orange;
}
.insta {
  background: purple;
  color: var(--white-color);
}
.fb {
  background: blue;
  color: var(--white-color);
}
.yt {
  background: red;
  color: var(--white-color);
}

/* ---------------Footer--------------------- */
.footer {
  color: var(--white-color);
  background: var(--bg-color);
  padding: 2rem 1rem;
}
.footer h3 {
  padding-bottom: 1rem;
}
.footer h4 {
  padding-bottom: 0;
}
.footer p {
  margin-left: 1rem;
}
.lower-headings p {
  margin: 0;
  font-weight: bold;
  text-transform: capitalize;
}
.footer .footer-head {
  margin-bottom: 1rem;
  margin-left: 0;
  font-weight: bold;
}
/* --------------AboutUs----------------- */
.img-text {
  background: linear-gradient(
      to bottom,
      rgba(2, 0, 36, 0.5) 0%,
      rgba(19, 121, 9, 0.5) 23%,
      rgba(0, 212, 255, 0.5) 92%
    ),
    url(./images/pexels-maarten-van-den-heuvel-2284169.jpg) center / cover
      no-repeat fixed;
  width: 100dvw;
  height: 100dvh;
  position: relative;
  z-index: -2;
  background: ;
}
.about-footer {
  position: fixed;
  background: transparent;
  color: #222;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.upper-heading p,
h4,
.lower-headings p {
  margin-bottom: 1rem;
}
