/* HTML */
* {
    margin: 0;
    font-family: sans-serif;
}

:root {
    --gym-blue: rgb(64, 131, 194);
}

/* TOP MENU */
.top-menu {
    padding: 20px 30px;
    background-color: var(--gym-blue);
}

header {
    display: inline-block;
    padding-right: 100px;
    font-size: 20px;
    color: white;
}

.header {
    margin: 10px;
}

.menu-list {
    display: inline;
}

.menu-list ul {
    display: inline;
    list-style: none;
    color: white;
}

.menu-list-item {
    list-style: none;
    display: inline;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

/* MAIN */
.main {
    margin: 30px 40px;
}

.main > p > strong {
    color: var(--gym-blue);
}

.fitness-title {
    margin-bottom: 30px;
    color: var(--gym-blue);
    font-size: 40px;
}

.main > p {
    line-height: 20px;
    margin-bottom: 20px;
}

.membership-link {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: orange;
    border: solid 2px orange;
    border-radius: 10px;
    padding: 10px 20px;
}

/* FOLLOW US */

.follow-us {
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 30px;
}

.follow-us-title {
    color: var(--gym-blue);
    margin-bottom: 30px;
    font-size: 30px;
    display: block;
}

.follow-links {
    list-style: none;
    display: inline-block;
    padding: 0;
}

.follow-links li {
    display: inline;
    margin: 12px;
}

.follow-links > li > a {
    text-decoration: none;
    padding: 10px 30px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

 .instagram-link {
    background-color: rgba(115, 54, 228, 0.63);
    border: solid 1px rgba(145, 89, 248, 0.76);
    border-radius: 10px;
    box-shadow: 2px 1px 5px 1px rgba(115, 54, 228, 0.63);
}

.facebook-link {
    background-color: rgb(52, 162, 252);
    border: solid 1px rgba(14, 97, 165, 0.363);
    border-radius: 10px;
    box-shadow: 2px 1px 5px 1px rgb(52, 162, 252);
}

.youtube-link {
    background-color: red;
    border: solid 1px rgba(206, 4, 4, 0.897);
    border-radius: 10px;
    box-shadow: 2px 1px 5px 1px red;
} 

/* FOOTER */
.bottom-menu {
    background-color: var(--gym-blue);
    padding-bottom: 20px;
}

footer {
    /* margin-left: 20px; */
    color: white;
}

.pop-features-title {
    font-size: 18px;
    padding: 20px 40px;
    font-weight: normal;
}

.pop-categories > li {
    list-style: none;
    font-weight: bold;
    line-height: 20px;
}

.other-gyms {
    list-style: none;
}