* {
    font-family: sans-serif;   
    margin: 0;
}

header {
    background-color: #357ba6;
    padding-top: 30px;
    padding-bottom: 35px;
    /* padding-left: 5px; */
    /* margin: 0; */
}

.logo {
    display: inline;
    color: white;
    background-color: #357ba6;
    font-weight: bolder;
    /* padding-left: 5px; */
    padding-right: 35px;
    padding-bottom: 3px;
}

header h2 {
    display: inline;
    color: white;
    font-weight: bold;

    background-color: #357ba6;
    padding-right: 30px;
}

body h1 {
    color: #367497;
    font-size: 45px;
    font-weight: bolder;
    padding: 50px;
}

.why,
.who {
    padding-left: 50px;
    padding-bottom: 40px;
    font-size: 30px;
}

.promo {
    padding-left: 50px;
    padding-bottom: 20px;
    font-size: 30px;
}

.promo span {
    font-weight: bold;
    color: #4c8bb1;
}

.enroll {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 50px;
    padding: 20px 50px;
    border: 4px solid #e87e2c;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #e87e2c;
    background-color: white;
}

.social p {
    margin-left: 50px;
    color: #367497;
    font-size: 45px;
    font-weight: bolder;
}

.social button {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 50px;
    padding: 20px 70px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 35px;
    font-weight: bold;
    background-color: #874bf4;
    color: white;
    box-shadow: 5px 5px 10px lightgray;
}

.social button:nth-of-type(2) {
    background-color: #3778e8;
}

.social button:nth-of-type(3) {
    background-color: #ea3223;
}


.testimonials div {
    display: inline-block;
    background-color: #828b88;
    color: white;
    margin: 40px 25px 40px 15px;
    /* margin-bottom: 40px;
    margin-right: 20px;
    margin-left: 15px; */
    padding: 50px;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    line-height: 30px;
}

.testimonials section {
    font-style: normal;
}


.gym-locations div {
    display: inline-block;
    background-color: #a9aead;
    color: white;
    margin-top: 20px;
    margin-bottom: 80px;
    margin-right: 20px;
    margin-left: 25px;
    padding: 30px;
    font-size: 18px;
    text-align: center;
    line-height: 15px;
}

.gym-locations section {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
}



.bottom {
    /* display: */
    background-color: #357ba6;
    padding-top: 35px;
    padding-left: 50px;
    padding-bottom: 150px;
}

.bottom h2 {
    padding-bottom: 20px;
    color: white;
    font-weight: lighter;
    font-size: 25px;
}

.bottom h3 {
    /* padding-bottom: 20px; */
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.locations a {
    /* display: block */
    text-decoration: none;
    margin-left: 30px;
    color: white;
    font-size: 25px;
}

.features a {
    /* margin-left: 30px; */
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
}