:root {
  --color-primary: #3f7cb2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/*******************************************/
/* HEADINGS/
/*******************************************/

h1 {
  color: #fff;
  font-weight: 600;
}

h2 {
  color: var(--color-primary);
  font-size: 32px;
  margin-bottom: 24px;
}

.h2-smaller-margin {
  margin-bottom: 12px;
}

h4 {
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 10px;
}

h5 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 2px;
}

/*******************************************/
/* HEADER / NAV */
/*******************************************/

.header {
  background-color: var(--color-primary);
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.navbar {
  display: flex;
  gap: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

/*******************************************/
/* MAIN*/
/*******************************************/

.main {
  padding: 40px;
}

p {
  margin-bottom: 16px;
}

.deal {
  color: #2189a3;
  font-weight: 700;
}

.signup-btn {
  display: inline-block;
  padding: 15px 30px;
  margin-bottom: 24px;
  color: orangered;
  text-transform: uppercase;
  border: 2px solid orangered;
  border-radius: 8px;
  cursor: pointer;
}

.social-media-btns {
  display: flex;
  gap: 20px;
}

.social-btn {
  display: inline-block;
  padding: 12px 30px;
  color: #fff;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.purple-background {
  background-color: rgba(128, 0, 128, 0.732);
  background-color: #9c36b5;
}

.blue-background {
  background-color: rgba(0, 0, 255, 0.732);
  background-color: #4c6ef5;
}

.red-background {
  background-color: rgba(255, 0, 0, 0.764);
}

/*******************************************/
/* FOOTER */
/*******************************************/

.footer {
  background-color: var(--color-primary);
  padding: 40px;
  color: #fff;
  height: 250px;
}

.gym-list {
  list-style: none;
  margin-left: 20px;
}
