*{
    margin: 0;
    padding: 0;
    box-align: border box;
    font-family: sans-serif;}
.header .gym,
  .header nav,
  .header ul,
  .header ul li {
    display: inline;
  }
.header{
    background-color:rgb(18, 153, 221) ;
    padding: 25px;
}
  .header ul a{
    color: white;
    padding: 1%;
    text-decoration: none;
  }
  .gym{
    color: white;
    padding: 10px;
  }
  .tags{
    color: rgb(18, 153, 221);
    font-size: 25px;

    margin:15px 20px;
  }
  h2{
    color: rgb(18, 153, 221);
    margin-bottom: 20px;
    margin-left: 25px;
  }
  p{
    margin-left: 25px;
  }
.membership{
    margin-top: 10px;
}
  span{
    color: rgb(18, 153, 221);
  }
  .features{
    color: white;
    background-color: rgb(18, 153, 221);

    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    height: 550px;
  }
  button{
    color: #cd6402;
    border: solid 2px #cd6402;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 25px;
    display: inline-block;
    border-radius: 12px;
    text-decoration: none;

  }
  .Insta, .FB, .YT {
    color: rgb(255, 255, 255);
    font-style: initial;
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 10px;
    border: solid 2px black;
    margin: 10px 10px 20px 20px;

  }

  .Insta {

    border: solid 2px rgb(88, 82, 98);
    background-color: rgb(161, 42, 246);
    margin-left: 25px;
    padding: 8px 20px;

  }
  .FB {
    border: solid 2px rgb(64, 64, 77);
    background-color: rgb(82, 82, 230);
    margin-right: 10px;
    padding: 8px 20px;
  }
  .YT {
    border: solid 2px rgb(133, 118, 118);
    background-color: rgb(242, 103, 103);
    margin-right: 10px;
    padding: 8px 20px;
}
.Gymsnearme{
    margin-top: 10px;
}
.locations{
    list-style-type: none;
    margin-left: 25px;
}
.Extrastuff{
    list-style-type: none;
    font-weight: bold;
}
footer{
    height: auto;
  border: auto;
  margin: auto;
}