header {
    background-color:rgb(0, 128, 255);
    width:auto;
    height: 50px;
    margin-bottom: 10px;
 /*for blocks*/   


}

.footer {
    background-color:rgb(0, 128,255);
    outline: 3px solid blue;
}
.follow {
    color: rgb(0, 128,255);
}
h4 {
    color:rgb(0, 128,255);
}
.get {
    outline: 3px solid orange;
    
}