.gymnastic {
    background-color:rgb(0, 128, 255);
    width: 150px;
 /*for blocks*/   
    outline: 3px solid red;

}

.footer {
    background-color:rgb(0, 128,255);
    outline: 3px solid blue;
}
.follow {
    color: rgb(0, 128,255);
}