nav, footer {
    background-color: rgb(7, 117, 157);
}
nav, footer, ul.links li {
    color: white;
}
ul {
    list-style: none;
}
nav li {
    display: inline-block;
    font-size: 20px;
    padding-right: 35px;
    margin-left: 20px;
}

div.main, div.review {
    margin-left: 30px;
}

h1 {
    color: rgb(18, 133, 174);
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
p span {
    color: rgb(23, 91, 163);
    font-weight: bold;
} 
div.main a.membership {
    color: rgb(237, 159, 14);
    text-transform: uppercase;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 3px solid orange;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: bolder;
}

footer { 
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: 0px;
    padding-left: 20px;
    margin-top: 20px ;

}
ul.links, ul {
    padding-inline-start: 0px;
}

ul.links li {

    display: inline-block;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 19px;
    border-radius: 15px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 li.instagram {
    background-color: rgb(160, 12, 252);
 }
 li.facebook {
    background-color: rgb(95, 122, 245);
 }
 li.youtube {
    background-color: rgb(240, 62, 62);
 }
 div.review {
    list-style: none;

 }

 .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
ul.location {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
ul.info, ul.location, ul.more-info {
    margin-top: 0px;
    margin-bottom: 0px;
}
 ul.review li {
    display: block;
    float: left;
    width: 150px;
    padding: 20px;
    font-size: large;
 }

 body, footer {
    margin: 0px;
 }
 li.popular-features {
    font-size: 19px;
 }
 li.near-me, li.more-info {
    padding-top: 10px;
    font-weight: bold;
    font-size: 17px;
 }
 ul.location {
    margin-left: 20px;
 }